button{
    display: block;
    background-color: rebeccapurple;
    padding: 1.5rem;
    margin: 0 auto;
    margin-top: 3rem;
    border: none;
    border-radius: 3px;
    font-size: inherit;
    color: white;

    &:hover{
        background-color: rgb(84, 37, 131);
        cursor: pointer;
    }
}