.grid{
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 4rem 0;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    align-content: center;

    font-size: 4rem;
    border-radius: 20px;
    position: relative;

    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(3, 110px);
    }

    &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 98%;
        height: 98%;
        background-color: transparent;
        pointer-events: none;
        border: 15px solid #151515;
        border-radius: 15px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 98%;
        height: 95%;
        background-color: transparent;
        pointer-events: none;
        border: 20px solid #151515;
        border-radius: 40px;
    }
}

.grid__space{
    border: 3px solid rebeccapurple;

    display: grid;
    justify-content: center;
    align-content: center;
    user-select: none;
    transition: all 300ms;

    &:hover{
        background-color: rgb(91, 52, 127);
        cursor: pointer;
    }
}

.top-left{
    border-top: none;
    border-left: none;
    padding-top: 12px;
    padding-left: 10px;
}

.top-right{
    border-top: none;
    border-right: none;
    padding-top: 12px;
    padding-right: 10px;

}

.top-middle{
    border-top: none;
    padding-top: 12px;
}

.middle-left{
    border-left: none;
    padding-left: 10px;
}

.middle-right{
    border-right: none;
    padding-right: 10px;
}

.bottom-left{
    border-left: none;
    border-bottom: none;
    padding-left: 10px;
    padding-bottom: 12px;
}

.bottom-middle{
    border-bottom: none;
    padding-bottom: 12px;
}

.bottom-right{
    border-right: none;
    border-bottom: none;
    padding-right: 10px;
    padding-bottom: 12px;
}