*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #151515;
    color: white;
    font-family: 'Fredoka One', sans-serif;
}

.main{
    padding: 8rem;
}

.footer{
    padding: 2rem;
    border-top: 1px solid rgba(102, 51, 153, 0.563);
}

.footer-text-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin-logo{
    height: 5rem;
    width: auto;
    margin-left: 2rem;
}

.github-cat{
    fill: white;
    margin-left: 2rem;
    transition: transform 2s;

    &:hover{
        transform: rotate(360deg);
    }
}