*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 8rem;
    background-color: #151515;
    color: white;
    font-family: 'Fredoka One', sans-serif;
}